.wrapper {
  margin: 0 auto;
  width: 77em;
  min-height: 50em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.textarea {
  margin-bottom: 1em;
  height: 5em;
  box-sizing: border-box;
  padding: 1em;
  font-size: 2em;
  color: $color-black;
  overflow: auto;
  border-radius: 1em;
  border: 0.1em solid $color-black;
  background: $color-area;
}
.textarea:focus {
  outline: none;
}
.switch {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: $color-black;
}
.switch span {
  padding: 1em;
  background: $color-back-main;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  color: $color-black;
  border: 0.1em solid $color-black;
  border-radius: 0.5em;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
  background: $color-back-three;
  border: 0.1em solid $color-black;
  border-radius: 0.5em;
  padding: 2px;
}
.keyboard__button {
  margin: 4px;
  height: $keySize;
  padding-top: 1em;
  background: $color-back-main;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: $color-black;
  border: 0.1em solid $color-black;
  border-radius: 0.5em;
  transition: all 0.2s;
  user-select: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Verdana, sans-serif;
}
.keyboard__button:hover {
  background: $color-back-two;
}
.keyboard__button_active {
  transform: scale(0.8);
  transform-origin: center;
  background: $color-back-two;
  color: $color-shift-alt;
}
.keyboard__button_capslock_active {
  color: $color-shift-alt;
  text-decoration: outline;
  text-transform: uppercase;
}
.keyboard__button_width_100 {
  width: $keySize;
}
.keyboard__button_width_125 {
  width: $keySize * 1.25;
  flex-grow: 1;
}
.keyboard__button_width_150 {
  width: $keySize * 1.5;
  flex-grow: 1;
}
.keyboard__button_width_175 {
  width: $keySize * 1.75;
  flex-grow: 1;
}
.keyboard__button_width_200 {
  width: $keySize * 2;
  flex-grow: 1;
}
.keyboard__button_width_700 {
  width: $keySize * 7;
  flex-grow: 1;
}